# Ignore node_modules folders
node_modules/
**/node_modules/
# Python related ignores
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
coverage.xml
.coverage
.cache
.pytest_cache/
nosetests.xml
test-results/
htmlcov/
tox/
docs/_build/
target/
